# Node Environment (development or production)
NODE_ENV=development

# Port
PORT=3000

# Database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/restaurant-crm?schema=public"

# Refresh Token Lifetime (in days)
REFRESH_TOKEN_LIFETIME=7

# Access Token Secret
ACCESS_TOKEN_SECRET=your-secret-key

# Refresh Token Secret
REFRESH_TOKEN_SECRET=your-secret-key

# Cookie Secret
COOKIE_SECRET=your-secret-key

# Password Salt Rounds
PASSWORD_SALT_ROUNDS=12

# Email User
EMAIL_USER=your-email@gmail.com

# Email Password
EMAIL_PASSWORD=your-email-password